html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001f3f;
  box-sizing: border-box;
  font-family: system-ui;
}

.date-picker-container {
  width: 300px;
  height: 300px;
  background-color: #3a6d8c;
}

.selected-date-container input,
.selected-date-container button {
  all: unset;
  display: block;
}

.selected-date-container input {
  border-right: 1px solid;
  width: calc(100% - 30px);
  padding: 5px;
  margin-left: 10px;
}

.selected-date-container input::placeholder {
  color: rgb(39, 39, 39);
  opacity: 1;
}

.selected-date-container button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-date-container button:hover {
  background-color: #6a9ab0;
  height: 29px;
}

.selected-date-container button img {
  width: 15px;
  height: 15px;
}

.selected-date-container {
  height: 10%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
}

.selected-date-container input {
  width: calc(100% - 30px);
}

.selected-date-container button {
  width: 30px;
  height: 30px;
}

.month-selector {
  height: 20%;
  box-sizing: border-box;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
}

.month-selector .selected-month {
  height: 50%;
}

.month-selector .selected-month .selected-month-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.month-selector .selected-month .selected-month-button:hover {
  color: rgb(131, 131, 131);
}

.month-selector .selected-month p {
  margin: 0 30px;
}

.month-selector .selected-month {
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-selector .week-day p {
  border: 0;
}

.week-day {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.week-day p {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.day-selector {
  height: 70%;
}

.day-selector .week-day {
  height: 20%;
  display: flex;
  justify-content: space-around;
}
